[Desktop Entry]
Name=XMame (SDL)
Comment=XMame with SDL graphic output
Comment[pl]=Emulator xmame z wyjściem graficznym xSDL
Exec=xmame.SDL
Icon=xmame.png
Terminal=0
Type=Application
# vi: encoding=utf-8
