[Desktop Entry]
Name=XMame (SDL)
Comment=XMame with SDL graphic output
Comment[pl]=Emulator xmame z wyjściem graficznym xSDL
Exec=xmame.SDL
Icon=xmame
Terminal=false
Type=Application
Categories=Utility;Emulator;
# vi: encoding=utf-8
