[Desktop Entry]
Encoding=UTF-8
Comment=Xmame Front End
Comment[pl]=Nakładka na Xmame
Exec=qtmame
Icon=qtmame.png
Name=Qtmame
Path=
Terminal=false
Type=Application
Categories=Qt;Utility;Emulator;
# vi: encoding=utf-8
